{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		{% include "polls/head.html" %}
	</head>
	<body>

		{% include "polls/hut.html" %}

		<div class="container" role="main">
			<div class="page-header">    
					<h2>Registration</h2>
			</div>           

			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<form role="form" enctype="multipart/form-data" action="{%url 'polls:add_user'%}" method="POST" class="form-short">
						{% csrf_token %}


						{% for error in form.username.errors %}
							<p class="text-danger">{{ error }}</p>
						{% endfor %}
							
						<div class="form-group">
							<label class="control-label">Login:</label>   
							{{form.username}}
						</div>

						{% for error in form.email.errors %}
							<p class="text-danger">{{ error }}</p>
						{% endfor %}
						<div class="form-group">
							<label class="control-label">Email:</label>
							{{form.email}}
						</div>

						<!--<div class="form-group">
							<label class=" control-label">Nickname:</label>
							<input type="nickname" class="form-control">
						</div>-->

						{% for error in form.password1.errors %}
							<p class="text-danger">{{ error }}</p>
						{% endfor %}

						<div class="form-group">
							<label class=" control-label">Password:</label>
							{{form.password1}}
						</div>

						{% for error in form.password2.errors %}
							<p class="text-danger">{{ error }}</p>
						{% endfor %}

						<div class="form-group">
							<label class=" control-label">Repeat password:</label>
							{{form.password2}}
						</div>

						{% for error in form.avatar.errors %}
							<p class="text-danger">{{ error }}</p>
						{% endfor %}

						<div class="form-group">                               
							<label class=" control-label">Upload avatar:</label>
							{{form.avatar}}
							
						</div>
							<!--<input class="input-file" id="fileInput" type="file">  
							<img id="avatar" src="img/avatar.jpg" alt="Responsive image" class="img-rounded"> -->

						<div class="form-group">
							<input type="submit" value="Register!" class="btn navbar-btn">
						</div>


						{% for error in form.errors %}
							<p class="text-danger">{{ error }}</p>
						{% endfor %}

					</form> 
				</div>   
			</div>

		</div>
		{% include "polls/footer.html" %}   
	</body>
</html>